<div class="form-author-menu form-author-menu__open">
    <button class="secondary-button" id="author-menu-check-button">
        <label>Мои парковки</label>
    </button>
    <div class="user-parkings-container" id="user-park-container"></div>
    <span id="author-menu-close-button" class="material-symbols-outlined">menu_open</span>
</div>


